*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
 .quiz-app{
    background-color: #f8f8f8;
 }
 
.quiz-info  .count span{
 padding: 5px;
 border-radius:50%;
}
  
    position: relative;
    top:50%;
    left: 0;
    transform: translateX(50%);
 
.quiz-app .quizeare{
    margin-top: 15px;
}
.quizeare h2{
    font-weight: bold; 
    height: auto;

}
 .quiz-app .answererea .answer{
    background-color: #f9f9f9;
    padding:  15px;
 }
 .quiz-app .answererea .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
 }

 .quiz-app .answererea .answer input[type="radio"]:checked +label{
    color: #0075ff;
 }
 .quiz-app .answererea .answer label{
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: -1px;
 }
.quiz-app .submit-button{
   cursor: pointer;
}
.quiz-app .bullets{
    border-top: 1px solid #dfdfdf;
    background-color:#fff;
    display: flex;
    padding: 15px;
}
.quiz-app .bullets .spans {
    flex: 1;
    display: flex;
      
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
     background-color: #ddd;
     margin-right: 5px;
      border-radius: 50%;
}
.quiz-app .bullets .spans  .on{
    background-color: #0075ff;
   
}
.bullets {
    display: flex;
    flex-wrap: wrap;
   
}
.bullets .spans{
    width: 50%;
}
.quiz-app  .result span{
    font-weight: bold;
}
@media (max-width:767px){
    
    .count{
       text-align: center;
       flex-wrap: wrap;
    }
    .quiz-app .bullets .spans span{
        width: 30px;
        height: 30px;
         background-color: #ddd;
         margin-right: 2px;
          border-radius: 50%;
    }
   .answererea   {
   width: 100%;
    }
}
.quiz-app .count-down {
 
    font-weight: bold;
    color: #0075ff;
}





.quiz-app  .result span.bad{
    color: #ff0000;
  
}
.quiz-app  .result span.good{
    color: #008000;
   
}
.quiz-app  .result span.prefect{
    color:#0075ff;
 
}








